@use '../abstract/breakpoints' as *;
@use '../abstract/colors' as *;
@use "../abstract/fonts" as *;
@use '../abstract/functions' as *;
@use '../abstract/mixins' as *;

.loader-upper{
    position: fixed;
    inset:0;
    // @include dimensions(100%, 100%);
    width: 100%;
    height: 100%;
    background: $clr-primary;
    z-index: 1000000;
    // @include flex-center;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;

    .loader-wrapper{
        display: grid;
        place-items: center;
    }
}


.loader-inner{
    @extend .loader-upper;
    z-index:  999999;
    background:$clr-tertiary;
}

.loader {
    width: rem(50);
    aspect-ratio: 1.154;
    position: relative;
    background: conic-gradient(from 120deg at 50% 64%,#0000, $clr-secondary 1deg 120deg,#0000 121deg);
    animation: l27-0 1.5s infinite cubic-bezier(0.3,1,0,1);
    -webkit-animation: l27-0 1.5s infinite cubic-bezier(0.3,1,0,1);
    &::before, 
    &::after{
        content:'';
        position: absolute;
        inset:0;
        background:inherit;
        transform-origin: 50% 66%;
        animation: l27-1 1.5s infinite;
    }
}

.loader:after {
    --s:-1;
}

@keyframes l27-0 {
     0%,30%      {transform: rotate(0)}
     70%         {transform: rotate(120deg)}
     70.01%,100% {transform: rotate(360deg)}
}
@keyframes l27-1 {
     0%      {transform: rotate(calc(var(--s,1)*120deg)) translate(0)}
     30%,70% {transform: rotate(calc(var(--s,1)*120deg)) translate(calc(var(--s,1)*-5px),10px)}
     100%    {transform: rotate(calc(var(--s,1)*120deg)) translate(0)}
}
