$clr-primary:#626C59; // Olive-Green
$clr-secondary:#BF7146; // Warm-Brown
$clr-tertiary:#FBF7F3; // Cream
$clr-quartery:#27472C; // Deep-Green

$clr-white:#FFFFFF;
$clr-black:#000000;

$clr-gray:#707070; // Additional Gray Shade
$clr-gray-2:#BCBCBC; // Additional Gray Shade
$clr-light-gray:#F6F5F7; // Soft Background Gray